html{
  background-color: aquamarine;
}
.container-fluid{
  background-color:black
}
input[type="text"]{
  background: transparent;
  color: white;
}
input[type="text"]:focus{
  background: transparent;
  color: white;
}